body {
  background-color: #13293d;
}

#boardBox {
  padding-top: 2rem;
  /* border: 1rem solid #000; */
}

#menu {
  text-align: center;
  padding: 1rem;
}

/*  
sample background colors

dark blue #13293d

or 10273d
*/
