
.chessboard {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(8, 6rem);
  grid-template-rows: repeat(8, 6rem);
  /* border: 1rem solid #452914; */
  width: 48rem;
  height: 48rem;
}

.square {
  width: 100%;
  height: 100%;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

.pieces {
  width: inherit;
  height: inherit;
}

.coords {
  /* text-align: end; */
  position: absolute;
  color: #4e4537;
}